.backgroundview {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: gainsboro;
            display: table-cell;
            vertical-align: middle;
}


.backgroundcontentwapperview{
    width: 80%;
    border: 1px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}


.backgroundcontentview {
    width: 95%;
    border: 1px;
    margin: auto;
    background-color: bisque;
}

