.backgroundview {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: inherit;
            display: table-cell;
            vertical-align: middle;
}


.backgroundcontentwapperview{
    width: 80%;
    border: 1px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}


.backgroundcontentview {
    width: 95%;
    border: 1px;
    margin: auto;
    background-color: white;
}

.info_li {
    margin-bottom: 5px;
}

.url {
    color: black;
    text-decoration: none;
}

hr{
    height: 1px;
    border: none;
    border-top: 1px dashed #909090;
    margin-bottom: 20px;
}


.company_summary{
    font-size: 15px;
    font-weight: normal;
    text-indent: 15px;
}


.flex_box{
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
}

.flex_item{
    width: 150px;
    margin-bottom: 10px;
}
