.backgroundview {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: inherit;
            display: table-cell;
            vertical-align: middle;
}


.backgroundcontentwapperview{
    width: 80%;
    border: 1px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}


.backgroundcontentview {
    width: 95%;
    border: 1px;
    margin: auto;
    background-color: white;
}

body {
    background-color: black;
}

.info_li {
    margin-bottom: 5px;
}

.url {
    color: cornflowerblue;
    text-decoration: none;
}

hr{
    height: 1px;
    border: none;
    border-top: 1px dashed #0066CC;
}

