<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
    {{ title }}
        {% endblock %}
    </title>

    {% load staticfiles %}

    <link  rel="stylesheet"  href="{% static 'css/base.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/header.png' %}">

    {% block css %}
    {% endblock %}

</head>
<body style="background: url('{% static 'images/pattern.gif' %}'); min-width: 1000px">

<div class="backgroundview">

        <div class="backgroundcontentwapperview">
            <div class="backgroundcontentview">

            {% block content %}
            {% endblock %}

            </div>

            <div style="width:300px;margin:0 auto; padding:20px 0;">
                <a target="_blank" href="#" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="http://www.beian.gov.cn/img/ghs.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">豫公网安备 41162502150035号</p></a>
            </div>
        </div>

</div>

{% block js %}
{% endblock %}

</body>
</html>